.not-displayed {
  display: none;
}

ul {
  border: solid;
  max-height: 10em;
  overflow-y: scroll;
  list-style-type: none;
}

li {
  cursor: pointer;
}

li:hover {
  background-color: lightblue;
}
